.Timeline__headline {
  margin-left: 70px;
  font-size: 2rem;
}

.TimelineItem__text {
  line-height: 1.5;
}

/* Line */
.Timeline {
  position: relative;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
}

/* Line */
.Timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 31px;
  margin-left: -3px;
}

.TimelineItem__container {
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 25px;
}

/* Circles */
.TimelineItem__container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #006060;
  border: 4px solid #008080;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.TimelineItem--left::after,
.TimelineItem--right::after {
  left: 15px;
}

/* Arrow */
.TimelineItem--left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Fix the circle for containers on the right side */
.TimelineItem--right::after {
  left: -16px;
}

.TimelineItem__content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 5px;
}

.TimelineItem__container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 10600px) {
  /* Make sure all circles are at the same spot */

}

.TimelineItem__buttons {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.TimelineItem__buttonContainer {
  text-align: center;
  background-color: #009393;
  color: white;
  width: 100%;
}

.TimelineItem__button {
  color: white;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.TimelineItem__button{
  cursor: pointer;
}

.TimelineItem__buttonContainer:hover{
  background-color: rgb(0, 101, 100);
}

.TimelineItem__buttonContainer--leftCorner {
  border-bottom-left-radius: 5px;
}

.TimelineItem__buttonContainer--rightCorner {
  border-bottom-right-radius: 5px;
}

.TimelineItem_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 300px;
  padding: 1rem;
}

.TimelineItem__videoContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.TimelineItem__videoIframe{
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
}
